STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEhE7B25E9qE/EmMo5BqQzpAHvKoZnwlPkpKpKb+2XCnL6QqdM/ZA==;BlobEndpoint=http://localhost:10000/devstoreaccount1;

POSTGRES_URL=postgresql://dbtuser:localdev@localhost:5433/reddit_warehouse

REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
REDDIT_USER_AGENT=reddit-pipeline/1.0 by your_username
